:root {
  --clr-primary-100: hsl(217, 28%, 15%);
  --clr-primary-200: hsl(218, 28%, 13%);
  --clr-primary-300: hsl(216, 53%, 9%);
  --clr-primary-400: hsl(219, 30%, 18%);

  --clr-accent-100: hsl(176, 68%, 64%);
  --clr-accent-200: hsl(198, 60%, 50%);
  --clr-accent-300: hsl(0, 100%, 63%);

  --clr-neutral-100: hsl(0, 0%, 100%);

  --ff-primary-100: "Raleway", sans-serif;
  --ff-primary-200: "Open Sans", sans-serif;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;

  --fs-300: clamp(0.7rem, 0.66rem + 0.2vw, 0.8rem);
  --fs-400: clamp(0.88rem, 0.83rem + 0.24vw, 1rem);
  --fs-500: clamp(1.09rem, 1rem + 0.47vw, 1.33rem);
  --fs-600: clamp(1.37rem, 1.21rem + 0.8vw, 1.78rem);
  --fs-700: clamp(1.71rem, 1.45rem + 1.29vw, 2.37rem);
  --fs-800: clamp(2.14rem, 1.74rem + 1.99vw, 3.16rem);
  --fs-900: clamp(2.67rem, 2.07rem + 3vw, 4.21rem);
  --fs-1000: clamp(3.34rem, 2.45rem + 4.43vw, 5.61rem);
}

/* https://piccalil.li/blog/a-modern-css-reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}
/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}
/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}
/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

* {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: var(--clr-primary-200);
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 16px 40px 16px;
  background-color: var(--clr-primary-200);
  margin: 0 auto;
}

header {
  width: min(100%, 1110px);
}

header a {
  text-decoration: none;
  color: var(--clr-neutral-100);
}

header img {
  width: 80px;
  height: 24px;
}

header nav {
  color: var(--clr-neutral-100);
  font-family: var(--ff-primary-100);
  font-size: var(--fs-400);
}

header ul {
  list-style: none;
  display: flex;
}

header li:nth-child(2) {
  padding: 0 16px;
}

/* main */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-primary-200);
  background-image: url("images/illustration-intro.png");
  background-repeat: no-repeat;
  background-position: center top 0;
  background-size: 304px 225px;
  padding-top: 260px;
}

h1 {
  color: var(--clr-neutral-100);
  font-family: var(--ff-primary-100);
  font-size: var(--fs-700);
  font-weight: var(--fw-semi-bold);
  text-align: center;
  padding: 0 16px;
  width: min(100%, 734px);
}

main p {
  color: var(--clr-neutral-100);
  font-family: var(--ff-primary-100);
  font-size: var(--fs-500);
  font-weight: var(--fw-regular);
  text-align: center;
  padding: 0 16px;
  margin-top: 24px;
  width: min(100%, 589px);
}

main a {
  text-decoration: none;
}

.hero_btn {
  background-color: var(--clr-accent-200);
  border-radius: 24px;
  width: 240px;
  height: 48px;
  font-weight: var(--fw-semi-bold);
  line-height: 3.5;
  font-size: var(--fs-400);
  padding: 0;
}

.hero_btn:hover {
  background-color: var(--clr-accent-100);
}

@media (min-width: 420px) {
  .hero_btn {
    line-height: 3.2;
  }
}

@media (min-width: 780px) {
  .hero_btn {
    line-height: 3;
  }
}

@media (min-width: 500px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--clr-primary-200);
    background-image: url("images/illustration-intro.png");
    background-repeat: no-repeat;
    background-position: center top 0;
    background-size: 450px 333px;
    padding-top: 360px;
  }
}

/* feature - section */
.feature {
  padding: 128px 16px 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-primary-200);
}

.feature article {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.feature article:not(:first-child) {
  margin-top: 64px;
}

.feature article:last-child {
  margin-bottom: 128px;
}

.feature h2 {
  color: var(--clr-neutral-100);
  font-family: var(--ff-primary-100);
  font-size: var(--fs-600);
  font-weight: var(--fw-semi-bold);
  margin-top: 24px;
}

.feature p {
  color: var(--clr-neutral-100);
  font-family: var(--ff-primary-100);
  font-size: var(--fs-500);
  font-weight: var(--fw-light);
  margin-top: 16px;
}

/* productive - section */
.productive {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-primary-200);
  background-image: url("images/illustration-stay-productive.png");
  background-repeat: no-repeat;
  background-position: center top 0;
  background-size: 304px 229.27px;
  padding: 260px 16px 0 16px;
}

.productive h2 {
  color: var(--clr-neutral-100);
  font-family: var(--ff-primary-100);
  font-size: var(--fs-600);
  font-weight: var(--fw-semi-bold);
  margin-top: 24px;
}

.productive p {
  color: var(--clr-neutral-100);
  font-family: var(--ff-primary-100);
  font-size: var(--fs-500);
  font-weight: var(--fw-light);
  margin-top: 16px;
}

.productive a {
  text-decoration: none;
}

.productive a p {
  display: inline-block;
  color: var(--clr-accent-100);
  font-size: var(--fs-500);
  position: relative;
}

.productive a p::after {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url("images/icon-arrow.svg");
  background-size: 24px 24px;
  position: absolute;
  right: -32px;
  margin-top: 2px;
}

/* testimonial - section */
.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-primary-200);
  padding: 128px 16px 0 16px;
}

.testimonial article:first-child::before {
  content: "";
  width: 25px;
  height: 20px;
  position: absolute;
  top: -20px;
  left: 0;
  background-image: url("images/bg-quotes.png");
  background-size: 25px 20px;
}

.testimonial article {
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-100);
  padding: 24px;
  font-family: var(--ff-primary-100);
  border-radius: 4px;
  position: relative;
}

.testimonial article:last-child {
  margin-bottom: 128px;
}

.testimonial article:not(first-child) {
  margin-top: 32px;
}

.testimonial_customer {
  display: flex;
  margin-top: 16px;
  align-items: center;
}

.testimonial img {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  margin-right: 12px;
}

.testimonial p:first-child {
  color: var(--clr-neutral-100);
  font-family: var(--ff-primary-100);
  font-size: var(--fs-500);
  font-weight: var(--fw-light);
}

.testimonial h3 {
  color: var(--clr-neutral-100);
  font-family: var(--ff-primary-100);
  font-size: var(--fs-400);
  font-weight: var(--fw-semi-bold);
}

.testimonial_role {
  color: var(--clr-neutral-100);
  font-family: var(--ff-primary-100);
  font-size: var(--fs-400);
  font-weight: var(--fw-regular);
}

/* access - section */
.access {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-primary-200);
  padding: 0 16px;
}

.access h2 {
  color: var(--clr-neutral-100);
  font-family: var(--ff-primary-100);
  font-size: var(--fs-600);
  font-weight: var(--fw-semi-bold);
}

.access article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 16px;
  background-color: var(--clr-primary-400);
  border-radius: 9px;
}

.access_card-p {
  color: var(--clr-neutral-100);
  font-family: var(--ff-primary-100);
  font-size: var(--fs-500);
  font-weight: var(--fw-light);
  margin: 16px 0 24px 0;
  text-align: center;
}

.access_btn {
  color: var(--clr-neutral-100);
  font-family: var(--ff-primary-100);
  font-size: var(--fs-500);
  font-weight: var(--fw-semi-bold);
  background-color: var(--clr-accent-100);
  border-radius: 24px;
  width: 240px;
  height: 48px;
  font-weight: var(--fw-semi-bold);
  line-height: 3.5;
  font-size: var(--fs-400);
  padding: 0;
  text-align: center;
}

.access a {
  text-decoration: none;
}

/* footer */
footer {
  background-color: var(--clr-primary-200);
  padding: 96px 16px 64px 16px;
  color: var(--clr-neutral-100);
}

footer img {
  width: 108px;
  height: 31px;
}

.footer_contact-location {
  display: flex;
  margin-top: 32px;
}

.footer_contact-location i {
  margin: 5px 16px 0 0;
}

.footer_contact-location p {
  color: var(--clr-neutral-100);
  font-family: var(--ff-primary-100);
  font-size: var(--fs-500);
  font-weight: var(--fw-light);
}

.footer_contact-phone {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.footer_contact-phone i {
  margin: 2px 16px 0 0;
}

.footer_contact-phone p {
  color: var(--clr-neutral-100);
  font-family: var(--ff-primary-100);
  font-size: var(--fs-500);
  font-weight: var(--fw-light);
}

.footer_contact-email {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.footer_contact-email i {
  margin: 2px 16px 0 0;
}

.footer_contact-email p {
  color: var(--clr-neutral-100);
  font-family: var(--ff-primary-100);
  font-size: var(--fs-500);
  font-weight: var(--fw-light);
}

footer ul {
  list-style: none;
  padding: 0;
  color: var(--clr-neutral-100);
  font-family: var(--ff-primary-100);
  font-size: var(--fs-500);
  font-weight: var(--fw-light);
  margin-top: 40px;
}

footer li:not(:first-child) {
  margin-top: 8px;
}

.footer_icon-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.footer_icon-container a {
  color: var(--clr-neutral-100);
  border: 1px solid var(--clr-neutral-100);
  display: inline-block;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  text-decoration: none;
}

.footer_icon-container a:nth-child(2) {
  margin: 0 16px;
}
